/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */

.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Полная высота экрана */
    text-align: center; /* Центрирует текст */
    font-family: Arial, sans-serif;
  }
  
  .logo {
    width: 150px; /* Уменьшаем размер логотипа */
    height: auto; /* Сохраняем пропорции */
    margin-bottom: 20px; /* Отступ снизу для логотипа */
  }
  
  h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  label {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 1em;
    width: 300px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
